.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/
android/
linux/
macos/
windows/
test/
.git/
.gitignore
.metadata
README.md
*.log
.DS_Store
.idea/
.vscode/
*.iml
