<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135077801576-c7a2906jkqhle0adf3bk1c1o2btlbldr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135077801576-c7a2906jkqhle0adf3bk1c1o2btlbldr</string>
	<key>API_KEY</key>
	<string>AIzaSyBXgivO0-IT-nvD3fDvnwhQrG20INdUN8c</string>
	<key>GCM_SENDER_ID</key>
	<string>135077801576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.predictionlabs.dmaasUi</string>
	<key>PROJECT_ID</key>
	<string>dmaas-17abc</string>
	<key>STORAGE_BUCKET</key>
	<string>dmaas-17abc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135077801576:ios:cf95233c557bd517ec95dd</string>
</dict>
</plist>